

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#results{
    display: none;

}
#viz{
    display: none;
    font-family: Curier Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 0.7em;
}













